{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Ensure this script runs on Brewfile changes by including a hash of its file contents:
# Brewfile: {{ include "Brewfile.tmpl" | sha256sum }}

eval "$(/opt/homebrew/bin/brew shellenv)"
chezmoi execute-template < "{{ .chezmoi.sourceDir }}/Brewfile.tmpl" > /tmp/Brewfile
brew bundle --no-lock --file "/tmp/Brewfile"
{{ end -}}
