{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Ensure this script runs on Brewfile changes by including a hash of its file contents:
# Brewfile: {{ include "Brewfile.tmpl" | sha256sum }}

if [[ ! -x /opt/homebrew/bin/brew ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

eval "$(/opt/homebrew/bin/brew shellenv)"
chezmoi execute-template < "{{ .chezmoi.sourceDir }}/Brewfile.tmpl" > /tmp/Brewfile
brew bundle --file "/tmp/Brewfile"
{{ end -}}
