{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Ensure this script runs on config.yaml changes by including a hash of its file contents:
# config.yaml: {{ include "dot_config/k9s/config.yaml" | sha256sum }}

# This merges rather than replaces the contents of the config file because this
# is a file that periodically gets modified.

DEST="{{ .chezmoi.homeDir }}/Library/Application Support/k9s"
mkdir -p "$DEST"
touch "$DEST/config.yaml"
yq eval-all -i '. as $item ireduce ({}; . *+ $item)' "$DEST/config.yaml" "{{ .chezmoi.sourceDir }}/dot_config/k9s/config.yaml"
{{ end -}}
