{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Ensure this script runs on file changes by including a hash of its file contents:
# Personal.bttpreset: {{ include "dot_config/btt/Personal.bttpreset" | sha256sum }}

open "{{ .chezmoi.sourceDir }}/dot_config/btt/Personal.bttpreset"
{{ end -}}
