{{ if eq .chezmoi.os "darwin" -}}
{{ if glob (joinPath .chezmoi.homeDir "Library/Keychains/aws-vault.keychain-db") -}}
#!/bin/bash

security set-keychain-settings "{{ .chezmoi.homeDir }}/Library/Keychains/aws-vault.keychain-db"
{{ end -}}
{{ end -}}
