{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Ensure this script runs on .Brewfile changes by including a hash of its file contents:
# .Brewfile: {{ include "dot_Brewfile" | sha256sum }}

eval "$(/opt/homebrew/bin/brew shellenv)"
brew bundle --no-lock --file {{ joinPath .chezmoi.sourceDir "dot_Brewfile" | quote }}
{{ end -}}
