{{- if glob (joinPath .chezmoi.homeDir ".tmux.conf") -}}
#!/bin/bash

# Ensure this script runs on .tmux.conf changes by including a hash of its file contents:
# ~/.tmux.conf: {{ include (joinPath .chezmoi.homeDir ".tmux.conf") | sha256sum }}

{{ .chezmoi.homeDir }}/.tmux/plugins/tpm/bin/install_plugins
{{ end -}}
