{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if [ ! $(helm plugin list | tail -n +2 | cut -f1 | grep diff) ]; then
  helm plugin install https://github.com/databus23/helm-diff
fi

if [ ! $(helm plugin list | tail -n +2 | cut -f1 | grep helm-git) ]; then
  helm plugin install https://github.com/aslafy-z/helm-git
fi

{{ end -}}
