{{- $email := promptString "git email" -}}
{{- $name := promptString "git name (default: Vicken Simonian)" | default "Vicken Simonian" -}}
{{- $github_username := promptString "github username (default: vsimon)" | default "vsimon" -}}

encryption: age
age:
  identity: ~/.config/age/key
  recipient: age1a53d5cwlg0vjkwtyseh0hhcrzrvq95sx9p5nklyd6cgsruddu5fsr4aztp
data:
  email: {{ $email }}
  name: {{ $name }}
  github_username: {{ $github_username }}
edit:
  command: code
  args:
    - --wait
