tap 'warrensbox/tap'
tap 'gjbae1212/gossm'
tap 'danielfoehrkn/switch'
tap 'homebrew/cask-versions'

brew 'atuin'
brew 'awscli'
brew 'chezmoi'
brew 'direnv'
brew 'fzf'
brew 'git-gui'
brew 'git'
brew 'go'
brew 'gossm'
brew 'helmfile'
brew 'jq'
brew 'k9s'
brew 'kubectx'
brew 'mas'
brew 'python3'
brew 'ripgrep'
brew 'switch'
brew 'tfswitch'
brew 'tmux'
brew 'tree'
brew 'virtualenv'
brew 'volta'
brew 'watch'
brew 'yq'

cask 'arc'
cask 'authy'
cask 'aws-vault'
cask 'bettertouchtool'
cask 'brave-browser'
cask 'dbeaver-community'
cask 'discord'
cask 'docker'
cask 'drawio'
cask 'grandperspective'
cask 'iterm2'
cask 'postman'
cask 'syncthing'
cask 'visual-studio-code'
cask 'whatsapp'
cask 'zoom'

{{ if not .work_device }}
cask 'slack'
cask 'veracrypt'
{{ end }}
