brew 'atuin'
brew 'awscli'
brew 'chezmoi'
brew 'fzf'
brew 'gh'
brew 'git-gui'
brew 'git'
brew 'go'
brew 'helmfile'
brew 'jq'
brew 'k9s'
brew 'kubie'
brew 'mas'
brew 'mise'
brew 'python3'
brew 'ripgrep'
brew 'tailscale'
brew 'tmux'
brew 'tree'
brew 'virtualenv'
brew 'watch'
brew 'yq'

cask 'aws-vault-binary'
cask 'bettertouchtool'
cask 'bitwarden'
cask 'brave-browser'
cask 'claude-code'
cask 'dbeaver-community'
cask 'discord'
cask 'docker-desktop'
cask 'drawio'
cask 'ghostty'
cask 'grandperspective'
cask 'postman'
cask 'rectangle'
cask 'slack'
cask 'syncthing-app'
cask 'veracrypt-fuse-t'
cask 'visual-studio-code'
cask 'whatsapp'
cask 'zoom'
