[color]
  ui = auto
[core]
  editor = cursor -w
  excludesfile = ~/.config/git/ignore
[credential]
  helper = osxkeychain
[github]
  user = {{ .github_username }}
[push]
  default = simple
[user]
  name = {{ .name }}
  email = {{ .email }}
