[user]
  name = Vicken Simonian
  email = {{ .email }}
[color]
  ui = auto
[core]
  editor = code -n -w
  excludesfile = ~/.config/git/ignore
[credential]
  helper = osxkeychain
[push]
  default = simple
